<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ERROR" />
				<levelMax value="FATAL" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%newline
****************%level**************************** %newline
	Logged Date :    %date      %newline
	Exception :      %exception %newline
	File :           %file      %newline
	Logged Message : %message   %newline
	Method Detail :  %method    %newline
************************************************** %newline "/>
			</layout>
		</appender>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="CountDirection" value="1"/>
			<param name="threshold" value="DEBUG"/>
			<datePattern>_dd_MMMM_yyyy_dddd_HH_mm</datePattern>
			<dateTimeStrategy type="log4net.Appender.RollingFileAppender+LocalDateTime"/>
			<maximumFileSize>20MB</maximumFileSize>
			<preserveLogFileNameExtension>true</preserveLogFileNameExtension>
			<rollingStyle>date</rollingStyle>
			<staticLogFileName>false</staticLogFileName>
			<appendToFile>true</appendToFile>
			<encoding>UTF-8</encoding>
			<file type="log4net.Util.PatternString" value="..\..\Logs\.log"/>
			<immediateFlush>true</immediateFlush>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ERROR" />
				<levelMax value="FATAL" />
			</filter>
			<layout type="log4net.Layout.DynamicPatternLayout">
				<header value="**** Trace Opened %date{yyyy-MM-dd HH:mm} ****%newline"/>
				<footer value="**** Trace Closed %date{yyyy-MM-dd HH:mm} ****%newline"/>
				<conversionPattern value="%newline
****************%level**************************** %newline
	Logged Date :    %date      %newline
	Exception :      %exception %newline
	File :           %file      %newline
	Logged Message : %message   %newline
	Method Detail :  %method    %newline
************************************************** %newline "/>
			</layout>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		</appender>
		<appender name="FileAppenderInfo" type="log4net.Appender.RollingFileAppender">
			<param name="CountDirection" value="1"/>
			<param name="threshold" value="DEBUG"/>
			<datePattern>_dd_MMMM_yyyy_dddd_HH_mm</datePattern>
			<dateTimeStrategy type="log4net.Appender.RollingFileAppender+LocalDateTime"/>
			<maximumFileSize>20MB</maximumFileSize>
			<preserveLogFileNameExtension>true</preserveLogFileNameExtension>
			<rollingStyle>date</rollingStyle>
			<staticLogFileName>false</staticLogFileName>
			<appendToFile>true</appendToFile>
			<encoding>UTF-8</encoding>
			<file type="log4net.Util.PatternString" value="..\..\Logs\info.log"/>
			<immediateFlush>true</immediateFlush>
			<layout type="log4net.Layout.DynamicPatternLayout">
				<header value="**** Trace Opened %date{yyyy-MM-dd HH:mm} ****%newline"/>
				<footer value="**** Trace Closed %date{yyyy-MM-dd HH:mm} ****%newline"/>
				<conversionPattern value="%newline  %message"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ALL"/>
				<levelMax value="WARN" />
			</filter>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		</appender>
		
		<root>
			<appender-ref ref="FileAppender"/>
			<appender-ref ref="ConsoleAppender"/>
			<appender-ref ref="FileAppenderInfo" />
		</root>
	</log4net>
</configuration>
